{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
    <h1>INDIAN CRICKETERS</h1>
    <img src="{% static 'images/msd.jpeg' %}" alt="no image" height="185px">
    <img src="{% static 'images/kohli.jpeg' %}" alt="no image" height="185px">
    <img src="{% static 'images/rohith.jpeg' %}" alt="no image" height="185px">
    
    <img src="{% static 'images/sachin.jpeg' %}" alt="no image" height="185px">
    <img src="{% static 'images/yuvaraj.jpeg' %}" alt="no image" height="185px">
    </center>
</body>
</html>








